@charset "UTF-8";

h1 {
    color: rgb(21, 98, 104);
    text-align: center;
    padding: -12px;
}

body {
    background: linear-gradient(to right, #2fa866, #1a5c37, #063d1e);
}

.login-container {
    background-color: rgb(252, 245, 245);            
    color: rgb(27, 81, 92);
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border:0.5px solid rgba(29, 90, 102, 0.719);
    border-radius: 4px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.301);
    width: 350px;
    }

main {
    position: relative;
    right: 10px;
    padding: 10px;
}

main > label {
    position: relative;
    top: 18px;
    right: 100px;
}

main > input {
    position: relative;
    bottom: -16px;
    right: -14px;
    margin: 6px;
    width: 22em;
    height: 1.8em;
}

.manter {
    margin: 72px;
    position: relative;
    left: -75px;
 }

.botao {
    background-color: rgba(30, 91, 104, 0.918);
    color: rgb(226, 231, 241);
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 300px;
    position: relative;
    bottom: -15px;
}

.botao1 {
    border: 2px solid yellow;
    font-weight: bolder;
    color: rgb(16, 101, 170);  
    position: relative;
    left: 130px;
    top: -20px;
}

footer {
    background-color: rgba(201, 181, 181, 0.658);
    position: relative;
    bottom: -20px;
    left: -20px;
    width: 390px;
}

footer > p {
    font-size: 13px;
    position: relative;
    top: 9px;
    left: 10px;
}

